/*******************************************
*********Common
****************************************/

* {
    padding: 0;
    margin: 0;
    font-family: 'Arial';

}

span {
    color: purple;
}

/*****************************************
**********Header
***********************************************/
header {
   display: flex;
   justify-content: center;
}

/***********************************************
***************Main
************************************************/
main {
    width: 90%;
    margin: 1rem auto;
}

main .heading h1 {
    color: rgb(34, 167, 224);
    font-size: 1rem;
    margin: 1rem 0rem;
}



main table  {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

main table tr {
    padding: 0.5rem 0.5rem;
}


main table tr th {
    text-align: initial;
    background-color: red;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
}
main table td {
    border: 1px solid #000;
    padding: 0.5rem 0.5rem;
}

main .source {
    margin: 1rem 0rem;
    font-size: 0.6rem;
}

main .source .source-image {
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
}


/**********************************
*************Media Screen
********************************************/

@media only screen and (max-width:640px) {
    main table td {
        font-size: 0.9rem;
    } 
}

/***************************************
****************Footer
**************************************/
footer {
    margin-bottom:2rem ;
}

footer .footer-info {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

footer .footer-info a {
    color:rgb(34, 167, 224) ;
}

footer .copyright {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    font-size: 0.6rem;
    width: 90%;
    margin: 0 auto;
}


/**********************************
*************Media Screen
********************************************/

@media only screen and (max-width:640px) {
    footer .footer-info {
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem 1rem;
        gap: 1rem;
    } 
}